.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 6rem;
  padding: 8px 12px;
  margin-left: 1.5rem;
  overflow: hidden;
  color: var(--color-text-primary);
  background-color: var(--color-bg-card);
  border-radius: 4px;
}

.completed .card {
  color: var(--color-text-card-disabled);
  background-color: var(--color-bg-card-disabled);
}

.active .card { background-color: var(--color-main-primary); }

.card-title {
  font-size: 1rem;
  font-weight: 500;
}

.card-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-info-text {
  max-width: 140px;
  font-size: .875rem;
  font-weight: 400;
}

/* md */
@media only screen and (min-width: 960px) {
  .card { height: 7rem; }
}
